

    <div class="container-fluid" style="background-image:url(/Images/mapimg.jpg); height:800px">


        <div class="jumbotron" style="background-image: radial-gradient(circle farthest-corner at center, #3C4B57 0%, #1C262B 100%);">
            <h1 style="color:darkgrey"> Brothers in Alms API Project</h1>
            <p style="color:darkgrey" class="lead">This is our Web API project, ready to share our Data with the world.</p>
        </div>

    </div>