
@{
    ViewBag.Title = "Cancel";
}



<div class="container-fluid" style="height:85px;
     background-image: radial-gradient(circle farthest-corner at center, #3C4B57 0%, #1C262B 100%);">

</div>



<div style="background-image:url(/images/trinidad.jpg); height:800px">
    <div class="container">
        <div class="row">
            <div class="col-sm-12" style="margin-top:40px;">
                <h1 style="color:aliceblue">Sorry, the payment was cancelled</h1>
                <h2 style="color:aliceblue">Your payment was not successful. Please try again.</h2>
                @Html.ActionLink("Return to Home", "Index", "Home")
            </div>
        </div>
    </div>
</div>




