@if (HttpRuntime.Cache["LoggedInUsers"] != null)
{
    var loggedOnUsers = HttpRuntime.Cache["LoggedInUsers"] as Dictionary<string, DateTime>;

    if (loggedOnUsers != null)
    {
        <div class="LoggedInUserBox">
            <span>Users Visited us Today: </span>
            @foreach (var item in loggedOnUsers)
            {
                <a href="/Users/Panel/UserProfile/@item.Key">@item.Key</a>
                @:&nbsp;
            }
        </div>
    }
}
